language: node_js
node_js: 
  - "6.9.2"
install: npm install
script: npm run lint && npm test && npm run build
after_script:
- cat ./test-coverage/lcov.info | ./node_modules/.bin/coveralls
notifications:
  email:
    on_success: never
    on_failure: always
deploy:
  skip_cleanup: true
  provider: npm
  email: mr.kovalenko.a.o@gmail.com
  on:
    branch: master
  tag: next
  api_key: $NPM_TOKEN
